/* Top Navigation */

  
  .topnav {
    overflow: hidden;
    background-color: rgb(74, 51, 249);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav .icon {
    display: none;
  }
  





body #container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

h1, h2 {
    text-align: center;
}

#userName {
    text-align: center;
}

#rock {
    width: 25%;
}

.box {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn:hover {
    border-color: red;
}

#playbutton {
    text-align: center;
}

/* Trivia Page  */
.quizContainer {
    background-color: rgb(74, 51, 249);
    color: #f2f2f2;
    border-radius: 8px;
    width: 75%;
    margin: auto;
    margin-top: 190px;
    padding-top: 5px;
    position: relative;
}

.nextButton{
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

.question{
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color: rgb(57, 200, 71);
    text-align: center;
    color: #f2f2f2;
}

.quizMessage{
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    color: red;
}

ul.choicelist {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }