/* Top Navigation */

  .topnav {
    overflow: hidden;
    background-color: rgb(74, 51, 249);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  

/* html pages */
.main {
    padding: 16px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(./images/curlingBackground.jpg);
    margin-bottom: 50px;
}


body #container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

h1, h2 {
    text-align: center;
}

#worldCurling {
    background-color: rgba(255, 45, 45, 0.717);
    padding: 20px;
}

#testKnowledge {
    background-color: rgba(255, 45, 45, 0.717);
}


/* Trivia Page  */
.quizContainer {
    background-color: rgb(74, 51, 249);
    color: #f2f2f2;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding-top: 5px;
    position: relative;
}

.nextButton{
    border-radius: 10px;
    width: 140px;
    height: 40px;
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
}

.question{
    font-size: 40px;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(57, 200, 71);
    text-align: center;
    color: #f2f2f2;
}

.quizMessage{
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 8px;
    color: red;
    font-weight: bold;
}

ul.choicelist {
    list-style-type: none;
  }

li {
    color: #f2f2f2;
    font-size: larger;
}

.result {
    color: #f2f2f2;
    text-align: center;
    font-weight: larger;
} 

 .result a {
    color: #f2f2f2;
}
